<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="photo.anytype"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.CAMERA"/>
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	
	
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
	
	
    <application
        android:icon="@drawable/anytype"
        android:label="AnyType - Photo" >
        <activity
            android:name=".LoadActivity"
            android:label="AnyType - Photo" 
            android:screenOrientation="landscape" 
            android:theme="@android:style/Theme.NoTitleBar">
            
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".LoadFontActivity"
            android:screenOrientation="landscape" >
        </activity>
        
         <activity
            android:name=".EditActivity"
            android:screenOrientation="landscape" >
        </activity>
        
          <activity
            android:name=".CaptureActivity"
            android:screenOrientation="landscape" >
           
        </activity>
        
        
        <activity
            android:name="CanvasTextureActivity"
            android:screenOrientation="landscape">
             
        </activity>
        
        <activity
            android:name=".ViewCaptureActivity"
            android:screenOrientation="landscape">
             
        </activity>
        
         <activity
            android:name=".LetterVideoPlayerActivity"
            android:screenOrientation="landscape">
             
        </activity>
  
         <activity
            android:name=".LetterEditActivity"
            android:screenOrientation="landscape">
             
        </activity>      
            <activity
            android:name=".BuildLettersActivity"
            android:screenOrientation="landscape">
             
        </activity>
        
         <activity
            android:name="photo.anytype.CanvasActivity"
            android:screenOrientation="landscape" >
        </activity>
               
    </application>

</manifest>